body {
    font-family: Tahoma, sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.65;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.5;
    margin: 0 0 0.7em 0;
    letter-spacing: -0.025em;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

h1 {
    font-size: 2.5em;
    line-height: 1.2;
    color: #e5fbfb;
}
h6 {
    font-size: 2.5em;
    line-height: 1.2;
    color: #e5fbfb;
}

h2 {
    font-size: 30px;
    color: #141b1b;
}
h3 {
    font-size: 20px;
    color: #141b1b;
}


nav {
    background-color: #128381;
    color: white;
    padding: 10px 0;
    position: static;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s;
}

nav h1 {
    margin: 10px;
    text-align: center;
}

#nav-list {
    list-style: none;
    text-align: center;
    padding: 0;
}

.nav-item {
    display: inline;
    margin-right: 20px;
}

.nav-item a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.nav-item a:hover {
    background-color: #0f6c6b;
}

/* Set the active state */
.nav-item.active a {
    background-color: #0f6c6b;
}

section {
    margin-top: 70px;
    margin-bottom: 40px;
    background-color: #e5fbfb;
    padding: 20px; /* Reduced padding for narrow margins */
    border-radius: 10px;
}

.image-text-container {
    display: flex;
    align-items: center;
}

.image-text-container img {
    max-width: 250px;
    height: auto;
    margin-right: 20px;
}

.text {
    flex: 1;
    text-align: justify;
}

p {
    color: #e5fbfb;
}

hr {
    border: 1px solid #ddd;
}

/* Footer Styling */
footer {
    background-color: #0f6c6b;
    color: white;
    text-align: center;
    padding: 10px;
   
    bottom: 0;
    width: 100%;
}

div {
    margin: 10px;
    text-align: justify;
    text-justify: inter-word;
}

/* Style for the navigation bar when scrolled */
nav.scrolled {
    background-color: #128381;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }